# ==============================
# Tarea Corta 1 — Inteligencia Artificial
# Integrantes: María Felix Mendez Abarca, Cristhian Rivas y Jozafath Perez
# Descripción: Dependencias necesarias para ejecutar las pruebas automatizadas.
# ==============================

pytest>=7
